# PostgreSQL
DATABASE_URL=postgresql://admin:admin@localhost:5432/code

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Resend email provider
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev # or use a verified email/domain from resend.dev

# OAuth providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Uploadthing
UPLOADTHING_TOKEN=
